{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="center-column">
    <img src="{{ profile.image.url }}" alt="" width="100" height="100">
    <h1>{{ profile.user }}</h1>
    {% if profile.age %}
    <h4>Age: {{ profile.age }}</h4>
    {% endif %}
    {% if profile.field %}
    <h4>Fields: {{ profile.field }}</h4>
    {% endif %}
    {% if profile.bio %}
    Bio: {{ profile.bio }}<br><br>
        {% endif %}

    {% if request.user == profile.user %}
        <a class="btn btn-info" href="{% url 'update_profile' request.user.id %}">Update Profile</a>
    {% endif %}
</div>
{% endblock %}