{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">To DO</a>
    </div>
    <ul class="nav navbar-nav">
       <li class="active"><a href="{% url 'home' %}">Home</a></li>
       <li class="active"><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
        <li><a href="{% url 'profile' request.user.id %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
<body>
{% block content %}
{% endblock %}
</body>
</html>
